:root{
    --main1-cl: #0c8ff0;
    --main2-cl: aqua;
    --light-gry: #d9d9d9;
    --white-cl: #fff;
    --black-cl: #000;
	--head-vio: #420040;
	--ground-cl: #f6f6f6;
}
body{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.flo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flw{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
o{
	text-decoration: none;
	color: var(--main1-cl);
	cursor: pointer;
}
#loginPage{
	display: block;
	background: var(--white-cl);
}
#loginPage .container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    font-family: 'Poppins', sans-serif;
}
#loginPage .container .left-component{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#loginPage .container .right-component{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
#loginPage .container .left-component img{
	width: 500px;
    position: relative;
    top: 10%;
    left: -16%;
    z-index: 99;
}
#loginPage .container .left-component .wave1{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: -10%;
    background: var(--main1-cl);
    border-radius: 50%;
}
#loginPage .container .left-component .wave2{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: -30%;
    background: var(--main1-cl);
}
#loginPage .container .left-component .wave3{
    width: 20%;
    height: 60%;
    position: absolute;
    top: -1%;
    left: 3%;
    background: var(--white-cl);
    border-radius: 50%;
    transform: rotate(-65deg);
}
#loginPage .container .left-component .wave4{
	width: 5%;
	height: 12%;
	background: var(--main1-cl);
	border-radius: 0px;
	position: absolute;
	top: 0;
	right: 0;
}
#loginPage .container .left-component .wave5{
	width: 10%;
	height: 12%;
	border-radius: 50%;
	background: var(--white-cl);
	position: absolute;
	top: 0%;
	right: -1%;
	transform: rotate(40deg);
}
.wave6,.wave7{
	display: none;
}
form{
	width: 100%;
}
#loginPage .container .right-component .circle{
    height: 100px;
    width: 100px;
    margin: 2px calc((100% - 100px)/2);
    text-align: center;
    font-size: 100px;
    color: var(--main1-cl);
	background-image: url('../fav-icon/logo-o-c.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#loginPage .container .right-component h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 32px;
}
#loginPage .container .right-component .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--light-gry);
}
#loginPage .container .right-component .input-div.one{
	margin-top: 0;
}
.i{
	color: var(--light-gry);
	display: flex;
	justify-content: center;
	align-items: center;
}
.i i{
	transition: .3s;
}
#loginPage .container .right-component .input-div > div{
    position: relative;
	height: 45px;
}
#loginPage .container .right-component .input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}
#loginPage .container .right-component .input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--main2-cl);
	transition: .4s;
}
#loginPage .container .right-component .input-div:before{
	right: 50%;
}
#loginPage .container .right-component .input-div:after{
	left: 50%;
}
#loginPage .container .right-component .input-div.focus:before, .input-div.focus:after{
	width: 50%;
}
#loginPage .container .right-component .input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}
#loginPage .container .right-component .input-div.focus > .i > i{
	color: var(--main2-cl);
}
#loginPage .container .right-component .input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}
#loginPage .container .right-component .input-div.pass{
	margin-bottom: 4px;
}
#loginPage .container .right-component .captcha{
    border: none;
    margin: 25px 0;
    padding: 5px 0;
}
#loginPage .container .right-component .captcha .flo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45px;
}
#loginPage .container .right-component .captcha .flo #mainCaptcha{
    border: 2px solid var(--light-gry);
    border-radius: 5px;
    width: 75%;
    background-image: url('../images/haze.png');
    background-size: cover;
    color: #262626!important;
    font-size: 18px;
    text-decoration: line-through;
    letter-spacing: 15px;
    font-family: fantasy;
    text-align: center;
	outline: none;
    overflow: hidden;
}
#loginPage .container .right-component .captcha .flo .refresh-btn{
	color: var(--white-cl);
	text-align: center;
	width: 20%;
	height: 45px;
	border-radius: 5px;
	font-size: 28px;
	margin: 0px;
}
.animatedSpine{
	animation: spine 1s linear;
}
@keyframes spine{
	0%,100%{
		transform: rotate(0deg);
	}50%{
		transform: rotate(360deg);
	}
}
#loginPage .container .right-component span{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}
#loginPage .container .right-component span:hover{
	color: var(--main2-cl);
    cursor: pointer;
}
#loginPage .container .right-component .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background: linear-gradient(to right, var(--main1-cl), var(--main2-cl), var(--main1-cl));
	background-size: 200%;
	font-size: 1.2rem;
	color: var(--white-cl);
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
#loginPage .container .right-component .btn:hover{
	background-position: right;
}
#loading{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	background: var(--white-cl);
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--light-gry);
	position: fixed;
	cursor: progress;
}
#loading .head{
	margin-top: 10%;
	font-size: 35px;
	font-weight: bold;
	font-family: sans-serif;
	color: var(--main1-cl);
}
#loading footer{
	width: 100%;
	position: absolute;
	bottom: 2%;
	left: 0;
	text-align: center;
}
#loading footer h6{
	margin-bottom: 4px;
	font-size: 16px;
}
#loading footer h5{
	color: red;
	font-size: 20px;
	margin: 2px 0px;
}
.loader{
  	display: flex;
  	justify-content: space-around;
  	margin: 10px calc((100% - 70px)/2);
}
.dot{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: var(--light-gry);
    animation: blinkAnimation 3s linear infinite;
}
.dot:nth-child(1){
    animation-delay: 0s;
}
.dot:nth-child(2){
    animation-delay: 1s;
}
.dot:nth-child(3){
    animation-delay: 2s;
}
@keyframes blinkAnimation{
    0%, 100%{
    	background-color: var(--light-gry);
    }5%{
        background-color: var(--main2-cl);
    }
}
#blbg{
	display: none;
	background: #00000095;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	position: fixed;
}
#signupPage,#successSignUp,#forgotPassword,#privacyPage,#licensePage,#dpSelectPage{
	display: none;
	width: 50%;
	height: calc(100% - 40px);
	margin: 20px 25%;
	background: var(--white-cl);
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border: 2px solid var(--light-gry);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	overflow: hidden;
}
#signupPage .head,#forgotPassword .head,#privacyPage .head,#licensePage .head,#dpSelectPage .head{
	width: 100%;
	height: 100px;
	background-image: linear-gradient(54deg,rgba(12,141,240,0.8),rgba(0,255,255,0.8)), url('../images/Pen&ink.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);
	position: relative;
}
#signupPage .head:before,#forgotPassword .head:before,#privacyPage .head:before,#licensePage .head:before,#dpSelectPage .head:before{
	content: " ";
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	opacity: 0.2;
	z-index: -1;
	background: linear-gradient(to left, var(--black-cl) 0%, var(--white-cl) 0%, var(--black-cl) 100%);
}
#privacyPage .head{
	background-image: linear-gradient(54deg,rgba(12,141,240,0.8),rgba(0,255,255,0.8)), url('../images/hand-shack.png');
}
#licensePage .head{
	background-image: linear-gradient(54deg,rgba(12,141,240,0.8),rgba(0,255,255,0.8)), url('../images/libra.png');
}
#signupPage .title,#forgotPassword .title,#privacyPage .title,#licensePage .title,#dpSelectPage .title{
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	color: #333;
	margin: 4px 0px;
	/* height: auto; */
}
#signupPage .component,#forgotPassword .component,#privacyPage .component,#licensePage .component,#dpSelectPage .component{
	width: 100%;
	padding: 4px 2px;
	height: 540px;
	max-height: 540px;
	overflow-y: scroll;
}
#signupPage .component .form-group,#forgotPassword .component .form-group,#privacyPage .component .form-group,#licensePage .component .form-group,#dpSelectPage .component .form-group{
	width: 100%;
	padding: 2px;
}
#signupPage .component .form-group lable,#forgotPassword .component .form-group lable,#dpSelectPage .component .form-group lable{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	color: var(--head-vio);
}
#signupPage .component .form-group input,#signupPage .component .form-group select,#forgotPassword .component .form-group input,#forgotPassword .component .form-group select,#dpSelectPage .component .form-group input{
	width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white-cl);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline: none;
}
#signupPage .component .form-group input::placeholder{
	text-transform: capitalize;
}
#signupPage .component .form-group small,#successSignUp p,#forgotPassword .component .form-group small,#privacyPage .component .form-group p,#licensePage .component .form-group p,#dpSelectPage .component .form-group p,#dpSelectPage .component .form-group small{
	color: var(--light-gry);
	margin-left: 5px;
	text-align: justify;
}
#signupPage .component .form-group .checkbox input,#forgotPassword .component .form-group .checkbox input{
	width: 20%;
}
#privacyPage .component .form-group p,#privacyPage .component .form-group ul,#successSignUp .component p,#licensePage .component .form-group p{
	color: #6c757d;
}
#privacyPage .component .form-group p .fa{
	color: var(--main1-cl);
	cursor: pointer;
}
#privacyPage .component h5{
	font-size: 18px;
	font-weight: bolder;
	margin: 2px 0px;
	color: var(--main1-cl);
}
#privacyPage .component h6{
	font-size: 16px;
	font-weight: bolder;
	margin: 2px 0px;
	color: var(--black-cl);
}
#successSignUp .head{
	border-radius: 50%;
	height:200px;
	width:200px;
	background: #e6efd9;
	margin:0 auto;
}
#successSignUp .head i{
	position: relative;
	top: 15%;
	left: 25%;
	font-size: 100px;
	font-weight: bold;
	color: #88b04b;
}
#successSignUp h1{
	color: #88b04b;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 10px;
	text-align: center;
}
#successSignUp .component{
	padding: 4px 2px;
	height: 60%;
	max-height: 60%;
	overflow-y: scroll;
}
#successSignUp .component .flo .fa{
	color: #88b04b;
	margin-top: 12px;
	cursor: pointer;
}
main{
	display: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: var(--ground-cl);
}
main nav{
	background: linear-gradient(90deg,  #5ab8ffea, #0c8ff0);
	flex-wrap: nowrap!important;
}
main nav .head{
	font-size: 1.25rem;
	padding: 0px;
	margin: 0px;
}
main nav .tell{
	font-size: 1.0rem;
	padding: 0%;
	margin: 0%;
	color: var(--light-gry);
}
main nav .navbar-brand{
	width: 70%;
}
main nav .navbar-buttons{
	width: 30%;
}
main nav .navbar-buttons .navbar-icons{
	width: 60%;
	font-size: 18px;
	color: #fff;
}
main nav .navbar-buttons .navbar-icons i{
	margin: auto 0px;
	cursor: pointer;
}
main nav .navbar-buttons .navbar-profile #navBtn{
	display: none;
}
main nav .navbar-buttons .navbar-profile{
	width: 20%;
}
main nav .navbar-buttons .navbar-profile img{
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid var(--white-cl);
	cursor: pointer;
}
main .ground{
	width: 100%;
	padding: 0px;
	margin: 0%;
}
main .ground .sidenav{
	width: 20%;
	height: 100vh;
	background: var(--white-cl);
	padding-right: 4px;
	font-family: sans-serif;
}
main .ground .field{
	width: 90%;
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
main .ground .sidenavFade{
	display: none;
}
main .ground .sidenav .navEvent{
	color: var(--head-vio);
	padding: 5px;
	font-size: 14px;
	font-weight: bolder;
}
main .ground .sidenav .navEvent span{
	color: gray;
	cursor: pointer;
}
main .ground .sidenav h5{
	color: var(--main1-cl);
	text-transform: uppercase;
	padding: 14px 2px 2px 5px;
	font-size: 15px;
	font-weight: bold;
}
main .ground .sidenav .sidenav-item{
	width: 95%;
	color: var(--black-cl);
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
main .ground .sidenav .sidenav-item:hover{
	background: var(--main2-cl)!important;
	cursor: pointer;
}
main .ground .sidenav .sidenav-item i{
	width: 20%;
	text-align: center;
	margin: auto 0px;
}
main .ground .sidenav .sidenav-item span{
	width: 80%;
	text-transform: capitalize;
}
main .ground .sidenav .sidenav-item .dropdown-menu{
    position: absolute;
    top: -500%;
    left: 180;
    z-index: 1000;
    display: none;
}
#HomePage,#ProfilePage{
	display: none;
}
#CalenderPage{
	display: none;
	position: absolute;
    top: 6%;
    right: 16%;
    z-index: 99;
    background: var(--white-cl);
    border: 1px solid var(--light-gry);
    border-radius: 5px;
    width: 350px;
	padding: 4px;
	box-shadow: 0px 0px 10px 2px var(--black-cl);
	transition: ease-in-out;
}
#CalenderPage .flw{
	border-bottom: 1px solid var(--light-gry);
	color: var(--head-vio);
}
#CalenderPage .flw h4{
	font-size: 18px;
	font-weight: bold;
	color: var(--main1-cl);
}
#CalenderPage .flw i{
	margin: auto auto;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
#CalenderPage .flw #calenderHead{
	width: 60%;
	text-align: center;
}
#CalenderPage #calenderBody ul,#CalenderPage .calenderRow ul{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#CalenderPage #calenderBody ul li,#CalenderPage .calenderRow ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 14px;
	color: var(--black-cl);
}
#CalenderPage #calenderBody ul li div,#CalenderPage .calenderRow ul li div{
	width: 48px;
	text-align: center;
	border: 1px solid var(--white-cl);
	border-radius: 4px;
	color: var(--black-cl);
	background: var(--ground-cl);
	font-family: Consolas, 'Courier New', monospace;
}
#CalenderPage #calenderBody ul li div:hover{
	cursor: pointer;
	background: var(--main2-cl);
}
#CalenderPage #calenderBody ul .today{
	background: var(--main1-cl);
	color: var(--white-cl);
}
.field .main-contant-info{
	width: 100%;
	padding: 10px 0px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.field .main-contant-info .card-holder{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.field .main-contant-info .card-holder .card-body{
	width: 45%!important;
	background: var(--white-cl);
	border-radius: 10px;
	padding: 0px;
	margin: 0px 5%;
	box-shadow: 8px 8px 15px #bbb;
}
.field .main-contant-info .card-holder .card-body .card-body-upper{
	height: 75%;
}
.field .main-contant-info .card-holder .card-body .card-body-upper .card-body-upper-left{
	width: 70%;
	padding-left: 15px;
}
.field .main-contant-info .card-holder .card-body .card-body-upper .card-body-upper-left h2{
	margin: 10px 0px 0px 0px;
	padding: 0px;
	font-family: 'Special Elite', sans-serif;
}
.field .main-contant-info .card-holder .card-body .card-body-upper .card-body-upper-left p{
	margin: 0px;
	font-weight: bold;
	color: var(--head-vio)
}
.field .main-contant-info .card-holder .card-body .card-body-upper .card-body-upper-right{
	width: 30%;
	text-align: center;
	font-size: 25px;
	padding: 0px;
}
.field .main-contant-info .card-holder .card-body .card-body-upper i{
	margin: 40% 0px;
}
.field .main-contant-info .card-holder .card-body .card-body-lower{
	height: 25%;
	background: var(--light-gry);
	padding: 3px 5px;
	font-size: 12px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
}
.field .main-contant-info .card-holder .card-body .card-body-lower i{
	margin: auto 0px;
}
.field .profile-content{
	background: var(--white-cl);
	border-radius: 10px;
	margin: 20px auto 50px auto;
	box-shadow: 8px 8px 15px #bbb;
	padding: 15px;
}
.field .profile-content .rec-h{
	display: flex;
	flex-direction: column;
	float: left;
	margin-bottom: 8px;
}
.field .profile-content .rec-h h3, .postCreat .pro-table div h3{
    color: var(--head-vio);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
	margin-bottom: 0px;
}
.field .profile-content .rec-btn{
    float: right;
}
.field .profile-content .rec-btn button{
    margin-bottom: 4px;
}
.field .profile-content .profile-form{
    width: 100%;
    height: auto;
    color: var(--black-cl);
    display: flex;
    flex-direction: row-reverse;
}
.field .profile-content .profile-form .left{
    width: 40%;
    text-align: center;
	padding: 20px;
}
.field .profile-content .profile-form .left img{
    width: 60%;
	height: 230px;
    border-radius: 50%;
    margin: 10px 20%;
    background-color: var(--light-gry);
    border: 3px solid var(--main1-cl);
    cursor: pointer;
}
.field .profile-content .profile-form .right{
    width: 60%;
}
.field .profile-content .profile-form .right .form-group{
    width: 80%;
    margin: 0px 5px;
}
.field .profile-content .profile-form .right .form-group textarea{
    max-height: 120px;
	min-height: 120px;
    height: 120px;
}
.field .profile-content .profile-form .right .form-group small{
    text-align: justify;
}
.field .profile-content .hiddenProfile{
	display: none;
}
#authenticateModal #recipient-captcha-in{
    border-radius: 5px;
    background-image: url('../images/haze.png');
    background-size: cover;
    color: #262626!important;
    font-size: 16px;
    text-decoration: line-through;
    letter-spacing: 15px;
    font-family: fantasy;
    text-align: center;
	outline: none;
    overflow: hidden;
}
#authenticateModal .flo{
	height: 40px;
}
#authenticateModal .modal-dialog{
    margin: 3.75rem auto;
}
#dpSelectPage .container .component .form-group .image-flx{
	width: 100%;
	display: table;
}
#dpSelectPage .container .component .form-group .image-flx img{
	position: relative;
	width: calc(100% / 5);
	border: 2px solid var(--light-gry);
}
#dpSelectPage .container .component .form-group .image-flx img:hover,#dpSelectPage .container .component .form-group .image-flx input:hover{
	border: 2px solid yellow;
	box-shadow: 0px 0px 10px 2px orange;
	cursor: pointer;
}
#dpSelectPage .container .component .form-group .image-flx input{
	width: calc(100% / 5);
	height: 140px;
	margin: 0;
	z-index: 98;
	position: relative;
	top: -138;
    left: 60%;
	padding: 0;
	opacity: 0;
}
@media only screen and (max-width: 900px){
	#loginPage .container{
		grid-template-columns: 1fr;
        width: 100%;
	}
	#loginPage .container .left-component{
		display: none;
	}
	.wave6,.wave7{
		display: block;
	}
	.wave6{
		width: 20%;
		height: 10%;
		background: linear-gradient(to right, var(--main1-cl), var(--main2-cl), var(--main1-cl));
		border-radius: 0px;
		position: absolute;
		top: 0;
		left: 0%;
		z-index: 99;
	}
	.wave7{
		width: 22%;
		height: 20%;
		border-radius: 50%;
		background: var(--white-cl);
		position: absolute;
		top: -3%;
		left: 2.5%;
		transform: rotate(40deg);
		z-index: 99;
		outline: none;
	}
	#loginPage .container .right-component{
		justify-content: center;
	}
	#loginPage .container .right-component h2{
	    margin: 10px 0;
	    font-size: 26px;
    }
	#loginPage .container .right-component .captcha div{
        width: 320px;
    }
	#loading .head{
		margin-top: 50%;
	}
	.loader{
		margin: 10px calc((100% - 100px)/2);
  	}
	.dot{
		width: 20px;
		height: 20px;
	}
	#loading h6{
		margin-top: 98%;
	}
	#signupPage,#successSignUp,#forgotPassword,#privacyPage,#licensePage,#dpSelectPage{
		width: 90%;
		height: calc(100% - 40px);
		margin: 20px 5%;
	}
	#signupPage .head,#forgotPassword .head,#privacyPage .head,#licensePage .head,#dpSelectPage .head{
		height: 15%;
	}
	#signupPage .title,#forgotPassword .title,#privacyPage .title,#licensePage .title,#dpSelectPage .title{
		font-size: 28px;
	}
	#signupPage .component,#forgotPassword .component,#privacyPage .component,#licensePage .component,#dpSelectPage .component{
		height: 75%;
		max-height: 75%;
	}
	main nav .head, main nav .tell{
		display: none;
	}
	main nav .navbar-brand{
		width: 35%;
	}
	main nav .navbar-buttons{
		width: 65%;
	}
	main nav .navbar-buttons .navbar-icons{
		width: 70%;
		font-size: 16px;
	}
	main nav .navbar-buttons .navbar-profile{
		width: 30%;
	}
	main nav .navbar-buttons .navbar-profile #navBtn{
		display: block;
		font-size: 16px;
		color: #fff;
		margin: auto 0px;
	}
	main .ground .sidenavFade{
		width: 44%;
		height: 100vh;
		background: transparent;
		position: absolute;
		right: 0;
		z-index: 98;
	}
	main .ground .sidenav{
		display: none;
		width: 60%;
		height: 100vh;
		position: absolute;
		left: 0;
		z-index: 99;
		transition: ease-in-out;
	}
	main .ground .sidenav h5{
		padding: 8px 2px 2px 4px;
		font-size: 14px;
	}
	main .ground .sidenav .sidenav-item{
		font-size: 12px;
		padding: 6px 0px;
	}
	main .ground .field{
		width: 100%;
	}
	#CalenderPage{
		position: absolute;
		top: 7%;
		right: 20%;
		width: 250px;
	}
	#CalenderPage .flw h4{
		font-size: 16px;
	}
	#CalenderPage .flw i{
		font-size: 14px;
	}
	#CalenderPage #calenderBody ul li,#CalenderPage .calenderRow ul li{
		font-size: 12px;
	}
	#CalenderPage #calenderBody ul li div,#CalenderPage .calenderRow ul li div{
		width: 34px;
	}
	.field .main-contant-info{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.field .main-contant-info .card-holder{
		width: 100%;
		margin: 10px 0px;
	}
	.field .profile-content{
		width: 90%;
		margin: 20px 5% 50px 5%;
	}
	.field .profile-content .profile-form{
		display: flex;
		flex-direction: column;
	}
	.field .profile-content .profile-form .left{
		width: 100%;
	}
	.field .profile-content .profile-form .left img{
		width: 70%;
		height: 190px;
		margin: 10px 15%;
	}
	.field .profile-content .profile-form .right{
		width: 100%;
	}
	.field .profile-content .profile-form .right .form-group{
		width: 95%;
		margin: 0px 2.5px;
	}
	#authenticateModal #recipient-captcha-in{
		font-size: 14px;
		letter-spacing: 12px;
	}
	main .ground .sidenav .sidenav-item .dropdown-menu{
		position: absolute;
		top: -500%;
    	left: 150;
	}
	#dpSelectPage .container .component .form-group .image-flx img{
		width: calc(100% / 3);
	}
	#dpSelectPage .container .component .form-group .image-flx input{
		width: calc(100% / 3);
		height: 100px;
    	position: relative;
    	top: -98;
    	left: 67%;
}
}
@media only screen and (min-width: 900px) and (max-width: 1023px){
  body{
  	background: var(--black-cl);
    display: none;
  }
}